$nav-bgc: #F1F2F6;
$body-bgc: #FFF;
$text-color: #2D3436;
$link-color: #4A69BD;
$text-typo: Karma, serif;

@mixin block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

@mixin imgS {
    height: 2rem;
    width: 2rem;
}

@mixin imgM {
    height: 4rem;
    width: 4rem;
}

@mixin margeRea {
    h4 {
        margin: 0;
    }
    #techno {
        margin-top: 0.5rem;
    }
}

// Version globale
body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: $text-color;
    font-family: $text-typo;
    margin: 0 auto;
    

    #contenu {
        margin-top: 2rem;
    }

    #menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: $nav-bgc;
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        h1 {
            color: black;
        }
    }

    a {
        color: $link-color;
        text-decoration: none;
    }

    li {
        list-style: none;
    }
}

#description {
    img {
        float: right;
        margin-left: 0.5rem;;
    }

    #para {
        padding-bottom: 1rem;;
    }

    #cv {
        background-color: $link-color;
        padding: 1rem;
        border-radius: 1rem;
        color: #FFF;
    }
}

#competences {
    clear: both;

    ul {
        padding: 0;
    }

    #comp-tech {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #comp-perso {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}

#realisations {
    a {
        display: block;
    }
}

#contact {
    background-color: $nav-bgc;
    
    .block {
        @include block;
    }

    p {
        padding-top: 2rem;
        text-align: center;
        margin: 0;
    }
}

.logo {
        /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
        -webkit-transition: all 1s ease; /* Safari et Chrome */
        -moz-transition: all 1s ease; /* Firefox */
        -ms-transition: all 1s ease; /* Internet Explorer 9 */
        -o-transition: all 1s ease; /* Opera */
        transition: all 1s ease;
}
    
.logo:hover {
        /* L'image est grossie de 75% */
        -webkit-transform:scale(1.75); /* Safari et Chrome */
        -moz-transform:scale(1.75); /* Firefox */
        -ms-transform:scale(1.75); /* Internet Explorer 9 */
        -o-transform:scale(1.75); /* Opera */
        transform:scale(1.75);
}

// Version mobile jusqu'à 575px
@media (max-width: 575px) {
    nav a {
        padding: 0.3rem;
    }

    #description, #competences, #realisations, #curiosites, #contact {
        padding: 5rem 1rem 0 1rem;
    }

    #description {
        img {
            width: 6rem;
        }
    }

    #competences {
        img {
            @include imgS;
            padding: 0.5rem;
        }
    }

    #realisations {
        #detail, #techno, h4 {
            display: none;
        }

        img {
            @include imgS;
        }
    }

    #curiosites {
        padding-bottom: 5rem;
    }

    #contact {
        padding: 0 0 0 1rem;

        img {
            @include imgS;
        }
    }
}

// Version comprise entre 576 et 767px
@media (min-width: 576px) and (max-width: 767px) {

    nav a {
        padding: 0 0.5rem;
    }

    #description, #competences, #realisations, #curiosites, #contact {
        padding: 2rem 1rem 0 1rem;
    }

    #competences {
        img {
            @include imgM;
            padding: 0.5rem;
        }
    }

    #realisations {
        @include margeRea;

        img {
            @include imgM;
        }
    }

    .contents {
        margin: 0.5rem;
    }

    #curiosites {
        padding-bottom: 2rem;
    }

    #contact {
        padding: 0 0 0 1rem;

        img {
            @include imgM;
        }
    }
}

// Version comprise entre 768 et 991px
@media (min-width: 768px) and (max-width: 991px) {

    nav a {
        padding: 0 1rem;
    }

    #description, #competences, #realisations, #curiosites, #contact {
        padding: 2rem 1rem 0 1rem;
    }

    #competences {
        img {
            @include imgM;
            padding: 1rem;
        }
    }

    #realisations {
        @include margeRea;

        img {
            @include imgM;
        }
    }

    #curiosites {
        padding-bottom: 2rem;
    }

    #contact {
        padding: 0 0 0rem 1rem;

        img {
            @include imgM;
        }
    }
}

// Version comprise entre 992px et 1199px
@media (min-width: 992px) and (max-width: 1199px) {

    nav a {
        padding: 0 2rem;
    }

    #description, #competences, #realisations, #curiosites, #contact {
        padding: 3rem 1rem 0 1rem;
    }

    #competences {
        img {
            @include imgM;
            padding: 1rem;
        }
    }

    #realisations {
        @include margeRea;

        img {
            @include imgM;
        }
    }

    #curiosites {
        padding-bottom: 3rem;
    }

    #contact {
        padding: 0 0 0rem 1rem;

        img {
            @include imgM;
        }
    }
}

@media (min-width: 1200px) {
    
    nav a {
        padding: 0 2rem;
    }
    
    #description, #competences, #realisations, #curiosites, #contact {
        padding: 4rem 1rem 0 1rem;
    }

    #description {
        img {
            float: left;
            margin: 0 1rem 1rem 0;
        }
    }

    #competences {
        img {
            @include imgM;
            padding: 2rem;
        }
    }

    #realisations {
        @include margeRea;

        a, h3 {
            text-align: center;
        }

        img {
            @include imgM;
        }
    }

    #curiosites {
        padding-bottom: 4rem;
    }

    #contact {
        padding: 0 0 0 1rem;

        img {
            @include imgM;
        }
    }

    
}