@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2D3436;
  font-family: Karma, serif;
  margin: 0 auto;
}
body #contenu {
  margin-top: 2rem;
}
body #menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #F1F2F6;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body #menu h1 {
  color: black;
}
body a {
  color: #4A69BD;
  text-decoration: none;
}
body li {
  list-style: none;
}

#description img {
  float: right;
  margin-left: 0.5rem;
}
#description #para {
  padding-bottom: 1rem;
}
#description #cv {
  background-color: #4A69BD;
  padding: 1rem;
  border-radius: 1rem;
  color: #FFF;
}

#competences {
  clear: both;
}
#competences ul {
  padding: 0;
}
#competences #comp-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#competences #comp-perso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#realisations a {
  display: block;
}

#contact {
  background-color: #F1F2F6;
}
#contact .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
#contact p {
  padding-top: 2rem;
  text-align: center;
  margin: 0;
}

.logo {
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease;
  /* Safari et Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* Internet Explorer 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

.logo:hover {
  /* L'image est grossie de 75% */
  -webkit-transform: scale(1.75);
  /* Safari et Chrome */
  -moz-transform: scale(1.75);
  /* Firefox */
  -ms-transform: scale(1.75);
  /* Internet Explorer 9 */
  -o-transform: scale(1.75);
  /* Opera */
  transform: scale(1.75);
}

@media (max-width: 575px) {
  nav a {
    padding: 0.3rem;
  }

  #description, #competences, #realisations, #curiosites, #contact {
    padding: 5rem 1rem 0 1rem;
  }

  #description img {
    width: 6rem;
  }

  #competences img {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
  }

  #realisations #detail, #realisations #techno, #realisations h4 {
    display: none;
  }
  #realisations img {
    height: 2rem;
    width: 2rem;
  }

  #curiosites {
    padding-bottom: 5rem;
  }

  #contact {
    padding: 0 0 0 1rem;
  }
  #contact img {
    height: 2rem;
    width: 2rem;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  nav a {
    padding: 0 0.5rem;
  }

  #description, #competences, #realisations, #curiosites, #contact {
    padding: 2rem 1rem 0 1rem;
  }

  #competences img {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
  }

  #realisations h4 {
    margin: 0;
  }
  #realisations #techno {
    margin-top: 0.5rem;
  }
  #realisations img {
    height: 4rem;
    width: 4rem;
  }

  .contents {
    margin: 0.5rem;
  }

  #curiosites {
    padding-bottom: 2rem;
  }

  #contact {
    padding: 0 0 0 1rem;
  }
  #contact img {
    height: 4rem;
    width: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  nav a {
    padding: 0 1rem;
  }

  #description, #competences, #realisations, #curiosites, #contact {
    padding: 2rem 1rem 0 1rem;
  }

  #competences img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
  }

  #realisations h4 {
    margin: 0;
  }
  #realisations #techno {
    margin-top: 0.5rem;
  }
  #realisations img {
    height: 4rem;
    width: 4rem;
  }

  #curiosites {
    padding-bottom: 2rem;
  }

  #contact {
    padding: 0 0 0rem 1rem;
  }
  #contact img {
    height: 4rem;
    width: 4rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  nav a {
    padding: 0 2rem;
  }

  #description, #competences, #realisations, #curiosites, #contact {
    padding: 3rem 1rem 0 1rem;
  }

  #competences img {
    height: 4rem;
    width: 4rem;
    padding: 1rem;
  }

  #realisations h4 {
    margin: 0;
  }
  #realisations #techno {
    margin-top: 0.5rem;
  }
  #realisations img {
    height: 4rem;
    width: 4rem;
  }

  #curiosites {
    padding-bottom: 3rem;
  }

  #contact {
    padding: 0 0 0rem 1rem;
  }
  #contact img {
    height: 4rem;
    width: 4rem;
  }
}
@media (min-width: 1200px) {
  nav a {
    padding: 0 2rem;
  }

  #description, #competences, #realisations, #curiosites, #contact {
    padding: 4rem 1rem 0 1rem;
  }

  #description img {
    float: left;
    margin: 0 1rem 1rem 0;
  }

  #competences img {
    height: 4rem;
    width: 4rem;
    padding: 2rem;
  }

  #realisations h4 {
    margin: 0;
  }
  #realisations #techno {
    margin-top: 0.5rem;
  }
  #realisations a, #realisations h3 {
    text-align: center;
  }
  #realisations img {
    height: 4rem;
    width: 4rem;
  }

  #curiosites {
    padding-bottom: 4rem;
  }

  #contact {
    padding: 0 0 0 1rem;
  }
  #contact img {
    height: 4rem;
    width: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
